--- mm/Kconfig
+++ mm/Kconfig
@@ -152,18 +152,6 @@ config ZSWAP_ZPOOL_DEFAULT
        default "zsmalloc" if ZSWAP_ZPOOL_DEFAULT_ZSMALLOC
        default ""
 
-config ZBLOCK
-	tristate "Fast compression allocator with high density"
-	depends on ZPOOL
-	help
-	  A special purpose allocator for storing compressed pages.
-	  It stores integer number of same size compressed objects per
-	  its block. These blocks consist of several physical pages
-	  (2**n, i. e. 1/2/4/8).
-
-	  With zblock, it is possible to densely arrange objects of
-	  various sizes resulting in low internal fragmentation.
-
 config ZSMALLOC
 	tristate
 	prompt "N:1 compression allocator (zsmalloc)" if (ZSWAP || ZRAM)
